<div class="card-main">
  <!--/ Temporary: Needs updating-->
  <flw-card cardColor="primary" class="w-25">
    <flw-card-header>
      This is the header
    </flw-card-header>
    <flw-card-body>
      This is the Body
    </flw-card-body>
    <flw-card-footer>
      This is the Footer
    </flw-card-footer>
  </flw-card>
  
  <!--/ Temporary: Needs updating-->
  <flw-card cardColor="accent" class="w-25">
    <flw-card-header>
      This is the header
    </flw-card-header>
    <flw-card-body>
      This is the Body
    </flw-card-body>
    <flw-card-footer>
      This is the Footer
    </flw-card-footer>
  </flw-card>
  
  <!--/ Temporary: Needs updating-->
  <flw-card cardColor="danger" class="w-25">
    <flw-card-header>
      This is the header
    </flw-card-header>
    <flw-card-body>
      This is the Body
    </flw-card-body>
    <flw-card-footer>
      This is the Footer
    </flw-card-footer>
  </flw-card>
  
  <!--/ Temporary: Needs updating-->
  <flw-card class="w-25">
    <flw-card-header>
      This is the header
    </flw-card-header>
    <flw-card-body>
      This is the Body
    </flw-card-body>
    <flw-card-footer>
      This is the Footer
    </flw-card-footer>
  </flw-card>
</div>
