<div class="cards light">
  <flw-card cardColor="primary" cardShadow="light" class="w-100">
    <flw-card-header>
      <h3>Test Header One</h3>
    </flw-card-header>
    <flw-card-body>
      This is a test One
    </flw-card-body>
    <flw-card-footer>
      Test Footer One
    </flw-card-footer>
  </flw-card>
  
  <flw-card cardColor="accent" cardShadow="light" class="w-100">
    <flw-card-header>
      <h3>Test Header One</h3>
    </flw-card-header>
    <flw-card-body>
      This is a test One
    </flw-card-body>
    <flw-card-footer>
      Test Footer One
    </flw-card-footer>
  </flw-card>
  
  <flw-card cardColor="danger" cardShadow="light" class="w-100">
    <flw-card-header>
      <h3>Test Header One</h3>
    </flw-card-header>
    <flw-card-body>
      This is a test One
    </flw-card-body>
    <flw-card-footer>
      Test Footer One
    </flw-card-footer>
  </flw-card>
  
  <flw-card class="w-100" cardShadow="light">
    <flw-card-header>
      <h3>Test Header One</h3>
    </flw-card-header>
    <flw-card-body>
      This is a test One
    </flw-card-body>
    <flw-card-footer>
      Test Footer One
    </flw-card-footer>
  </flw-card>
</div>

<div class="cards default">
  <flw-card cardColor="primary" class="w-100">
    <flw-card-header>
      <h3>Test Header One</h3>
    </flw-card-header>
    <flw-card-body>
      This is a test One
    </flw-card-body>
    <flw-card-footer>
      Test Footer One
    </flw-card-footer>
  </flw-card>
  
  <flw-card cardColor="accent" class="w-100">
    <flw-card-header>
      <h3>Test Header One</h3>
    </flw-card-header>
    <flw-card-body>
      This is a test One
    </flw-card-body>
    <flw-card-footer>
      Test Footer One
    </flw-card-footer>
  </flw-card>
  
  <flw-card cardColor="danger" class="w-100">
    <flw-card-header>
      <h3>Test Header One</h3>
    </flw-card-header>
    <flw-card-body>
      This is a test One
    </flw-card-body>
    <flw-card-footer>
      Test Footer One
    </flw-card-footer>
  </flw-card>
  
  <flw-card class="w-100">
    <flw-card-header>
      <h3>Test Header One</h3>
    </flw-card-header>
    <flw-card-body>
      This is a test One
    </flw-card-body>
    <flw-card-footer>
      Test Footer One
    </flw-card-footer>
  </flw-card>
</div>

<div class="cards dark">
  <flw-card cardColor="primary" cardShadow="dark" class="w-100">
    <flw-card-header>
      <h3>Test Header One</h3>
    </flw-card-header>
    <flw-card-body>
      This is a test One
    </flw-card-body>
    <flw-card-footer>
      Test Footer One
    </flw-card-footer>
  </flw-card>
  
  <flw-card cardColor="accent" cardShadow="dark" class="w-100">
    <flw-card-header>
      <h3>Test Header One</h3>
    </flw-card-header>
    <flw-card-body>
      This is a test One
    </flw-card-body>
    <flw-card-footer>
      Test Footer One
    </flw-card-footer>
  </flw-card>
  
  <flw-card cardColor="danger" cardShadow="dark" class="w-100">
    <flw-card-header>
      <h3>Test Header One</h3>
    </flw-card-header>
    <flw-card-body>
      This is a test One
    </flw-card-body>
    <flw-card-footer>
      Test Footer One
    </flw-card-footer>
  </flw-card>
  
  <flw-card class="w-100" cardShadow="dark">
    <flw-card-header>
      <h3>Test Header One</h3>
    </flw-card-header>
    <flw-card-body>
      This is a test One
    </flw-card-body>
    <flw-card-footer>
      Test Footer One
    </flw-card-footer>
  </flw-card>
</div>
